<!DOCTYPE html>
  <html>
    <head>
      <title>
        Flask web
      </title>
      <link rel="stylesheet" type="text/css" href="style.css">
      <style>
        
      </style>
    </head>
    <body>
      <h1>
        Flask Web
      </h1>
      <img src="https://flask-web--premsingh-10.repl.co/static/code.jpg" height="320">
      <h2>About Flask</h2>
      <p>Largest size:
7952 x 5304 px (26.51 x 17.68 in.) - 300 dpi - RGB
Stock photo ID:1405242750
Upload date:June 26, 2022</p>
    </body>
  </html>